* {
  margin:0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: darkgreen;
}

a,
.btn {
  transition: all 300ms, ease;
}

/* DESKTOP NAV */

svg {
  width: 30px;
  height: 30px;
}

.logo {
display: flex;
align-items: flex-end;
padding: 0.2rem;
justify-content: space-between;
gap: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-bottom: 30px;
}

nav a {
  display: block;
  align-items: center;
  padding: 10px;
  list-style: none;
  padding: .5rem 1rem;
  text-decoration: none;
  border: 2px #495194 solid;
  background-color: black;
  gap: 5px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

/* HERO SECTION */
.hero-container h1 {
  font-size: 70px;
}

#hero {
  display: flex;
}

.hero-img {
  height: 400px;
  width: 400px
}



